[submodule "Swallow/third_party/spdlog"]
	path = Swallow/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Swallow/third_party/GLFW"]
	path = Swallow/third_party/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Swallow/third_party/imgui"]
	path = Swallow/third_party/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Swallow/third_party/Swallow/third_party/glm"]
	path = Swallow/third_party/Swallow/third_party/glm
	url = git@github.com:g-truc/glm.git
