################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

/bin/
/bin-int/
/Swallow/third_party/Glad/bin-int/
/Swallow/third_party/Glad/bin/
/sandbox/SwallowProfile-Runtime.json
/sandbox/SwallowProfile-Shutdown.json
/sandbox/SwallowProfile-Startup.json
